<html>
    
</html>
<body>
    <style>
        body{
            font-family: Andale Mono, monospace;
        }
    </style>
    <!--<h1>check: {{ check }}</h1>-->
    
    {% for i in room %}
        {{ i }}<br>
    {% endfor %}
    
</body>