<html>

</html>
<body>
    <style>
        body{
            font-family: Andale Mono, monospace;
            line-height: 15px;
        }
    </style>
    <!--<h1>check: {{ check }}</h1>-->

    {% for i in world.map %}{% for t in i %}{{ t }}{% endfor %}<br>{% endfor %}

</body>