{% load static from staticfiles %}

<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
    </head>
    <body data-seed='{{ seed }}'>
        <style>
        body{
            font-family: Andale Mono, monospace;
            line-height: 15px;
            background: #44240e;
        }
        .block{
            width: 32px;
            height: 32px;
        }
        .block-holder{
            width: 32px;
            height: 32px;
            float: left;
        }
        .wall {
            background: url('{% static 'images/tiles/wall.gif' %}');
        }
        .floor {
            background: url('{% static 'images/tiles/floor.gif' %}');
        }
        .door {
            background: url('{% static 'images/tiles/door.gif' %}');
        }
        .br {
            clear: both;
        }
        #viewport {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
        }
        .player {
            width: 32px;
            height: 32px;
            position: absolute;
            background: url('{% static 'images/tiles/player.gif' %}') no-repeat center center;
            z-index: 10000;
            left: 0;
            top: 0;
        }
        .shadow{
            background: black !important;
        }
        .half-shadow{
            filter: brightness(50%);
            -moz-filter: brightness(50%);
            -webkit-filter: brightness(50%);
        }
        #map {
            -webkit-transition-property: all;
            -webkit-transition-duration: 1s;
            -webkit-transition-timing-function: linear;
            -webkit-transition-delay: 0;
        }
        
        #hud {
            position: absolute;
            left: 15px;
            top: 15px;
            z-index: 1000;
        }
    </style>
    <!--<h1>check: {{ check }}</h1>-->
    <div id="hud">
        <a href="/mapgen/rev4/{{ seed }}">Сылка на карту !</a>
    </div>
    <div id="viewport">
        <div id="map">
            <div class="player"></div>
            {% for i in world.map %}
                <div class="br" data-y="{{ forloop.counter0 }}">
                    {% for t in i %}
                        <div class="block-holder" data-x="{{ forloop.counter0 }}">
                            {% if t == 1 %}
                                <div class="block wall shadow"></div>
                            {% endif %}
                            {% if t == 0 %}
                                    <div class="block floor shadow"></div>
                            {% endif %}
                            {% if t == 2 %}
                                    <div class="block door shadow"></div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
        $(document).ready(function() {
            init();
        });

        function init() {
            winWidth = $(window).width();
            winHeight = $(document).height();
            block = $('.block').width();
            player_y = {{ player.position.1 }}
            player_x = {{ player.position.0 }}
            $('#map').width(({{ world.width }})*block);
            $('#map').draggable({ scroll: false });
            setPlayer( player_x, player_y );

            function setPlayer( player_x, player_y ) {
                $('.player').css({'marginLeft':player_x*block, 'marginTop':player_y*block});
                setCamera(player_x*block, player_y*block);
                shadow(player_x, player_y)
            };

            function setCamera(player_x, player_y) {
                $('#map').css({'left':-player_x+(winWidth/2),'top': -player_y+(winHeight/2)});
            };
            
            function shadow(X, Y) {
                i = 0;
                Y=Y*1
                X=X*1
                $('.br[data-y = '+ (Y-2) +']').find('.block-holder[data-x = '+ (X-2) +']').children('.block').removeClass('shadow').addClass('half-shadow');
                $('.br[data-y = '+ (Y-2) +']').find('.block-holder[data-x = '+ (X-1) +']').children('.block').removeClass('shadow').addClass('half-shadow');
                $('.br[data-y = '+ (Y-2) +']').find('.block-holder[data-x = '+ X +']').children('.block').removeClass('shadow').addClass('half-shadow');
                $('.br[data-y = '+ (Y-2) +']').find('.block-holder[data-x = '+ (X+1) +']').children('.block').removeClass('shadow').addClass('half-shadow');
                $('.br[data-y = '+ (Y-2) +']').find('.block-holder[data-x = '+ (X+2) +']').children('.block').removeClass('shadow').addClass('half-shadow');
                
                $('.br[data-y = '+ (Y-1) +']').find('.block-holder[data-x = '+ (X-2) +']').children('.block').removeClass('shadow').addClass('half-shadow');
                $('.br[data-y = '+ (Y-1) +']').find('.block-holder[data-x = '+ (X-1) +']').children('.block').removeClass('shadow half-shadow');
                $('.br[data-y = '+ (Y-1) +']').find('.block-holder[data-x = '+ X +']').children('.block').removeClass('shadow half-shadow');
                $('.br[data-y = '+ (Y-1) +']').find('.block-holder[data-x = '+ (X+1) +']').children('.block').removeClass('shadow half-shadow');
                $('.br[data-y = '+ (Y-1) +']').find('.block-holder[data-x = '+ (X+2) +']').children('.block').removeClass('shadow').addClass('half-shadow');
                
                $('.br[data-y = '+ Y +']').find('.block-holder[data-x = '+ (X-2) +']').children('.block').removeClass('shadow').addClass('half-shadow');
                $('.br[data-y = '+ Y +']').find('.block-holder[data-x = '+ (X-1) +']').children('.block').removeClass('shadow half-shadow');
                $('.br[data-y = '+ Y +']').find('.block-holder[data-x = '+ X +']').children('.block').removeClass('shadow half-shadow');
                $('.br[data-y = '+ Y +']').find('.block-holder[data-x = '+ (X+1) +']').children('.block').removeClass('shadow half-shadow');
                $('.br[data-y = '+ Y +']').find('.block-holder[data-x = '+ (X+2) +']').children('.block').removeClass('shadow').addClass('half-shadow');
                
                $('.br[data-y = '+ (Y+1) +']').find('.block-holder[data-x = '+ (X-2) +']').children('.block').removeClass('shadow').addClass('half-shadow');
                $('.br[data-y = '+ (Y+1) +']').find('.block-holder[data-x = '+ (X-1) +']').children('.block').removeClass('shadow half-shadow');
                $('.br[data-y = '+ (Y+1) +']').find('.block-holder[data-x = '+ X +']').children('.block').removeClass('shadow half-shadow');
                $('.br[data-y = '+ (Y+1) +']').find('.block-holder[data-x = '+ (X+1) +']').children('.block').removeClass('shadow half-shadow');
                $('.br[data-y = '+ (Y+1) +']').find('.block-holder[data-x = '+ (X+2) +']').children('.block').removeClass('shadow').addClass('half-shadow');
                
                $('.br[data-y = '+ (Y+2) +']').find('.block-holder[data-x = '+ (X-2) +']').children('.block').removeClass('shadow').addClass('half-shadow');
                $('.br[data-y = '+ (Y+2) +']').find('.block-holder[data-x = '+ (X-1) +']').children('.block').removeClass('shadow').addClass('half-shadow');
                $('.br[data-y = '+ (Y+2) +']').find('.block-holder[data-x = '+ X +']').children('.block').removeClass('shadow').addClass('half-shadow');
                $('.br[data-y = '+ (Y+2) +']').find('.block-holder[data-x = '+ (X+1) +']').children('.block').removeClass('shadow').addClass('half-shadow');
                $('.br[data-y = '+ (Y+2) +']').find('.block-holder[data-x = '+ (X+2) +']').children('.block').removeClass('shadow').addClass('half-shadow');
            };
            
            function collision(direction) {
                X = Math.round($('.player').css('marginLeft').replace("px", "")/block).toFixed(0);
                Y = Math.round($('.player').css('marginTop').replace("px", "")/block).toFixed(0);
                //shadow(X, Y);
                if (direction == 37) {
                    X -= 1
                };
                if (direction == 38) {
                    Y -= 1
                };
                if (direction == 39) {
                    X = X*1 + 1
                };
                if (direction == 40) {
                    Y = Y*1 + 1
                };
                if ($('.br[data-y = '+ Y +']').find('.block-holder[data-x = '+ X +']').children('.block').is('.floor')){
                    $.get('/mapgen/stat/?x='+X+'&y='+Y, function(data) {
                        console.log(data);
                        //alert('Load was performed.');
                    });
                    shadow(X, Y);
                    return true;
                };
                if ($('.br[data-y = '+ Y +']').find('.block-holder[data-x = '+ X +']').children('.block').is('.door')){
                    $('.br[data-y = '+ Y +']').find('.block-holder[data-x = '+ X +']').children('.block').removeClass('door').addClass('floor');
                };
            };
            
            function movement(direction) {
                if (direction==37 && collision(direction)){ // step to left
                    $('.player').css({'marginLeft': '-='+block});
                }
                if (direction==38 && collision(direction)){ // step to top
                    $('.player').css({'marginTop': '-='+block});
                }
                if (direction==39 && collision(direction)){ // step to right
                    $('.player').css({'marginLeft': '+='+block});
                }
                if (direction==40 && collision(direction)){ // step to bottom
                    $('.player').css({'marginTop': '+='+block});
                }
                setCamera($('.player').css('marginLeft').replace("px", ""), $('.player').css('marginTop').replace("px", ""));
            };
            
            $(window).keydown(function(eventObject){
                movement(eventObject.which);
            });
        }

    </script>
</body>
</html>
